.userDetails {
  margin-left: 5%;
  margin-top: 3%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
    padding: 30px;
  }

  .username {
    font-size: x-large;
    padding-left: 30px;
  }

  .name {
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 5px;
  }

  .bio {
    padding-left: 30px;
    padding-bottom: 5px;
  }
}
